<%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  <table class="table">
    <tbody>
      <tr></tr>
      <tr>
      <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
      <tr>
        <th>フォロー数</th>
        <th>
          <%= link_to followings_user_path(user) do %>
            <%= user.followings.count %>人
          <% end %>
        </th>
      </tr>
      <tr>
        <th>フォロワー数</th>
        <th>
          <%= link_to followers_user_path(user) do %>
            <%= user.followers.count %>人
          <% end %>
        </th>
      </tr>
      <% if current_user != user %>
      <tr>
        <th>
          <%= render 'users/follow', user: user %>
        </th>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row">
    <%= link_to "", edit_user_path(user), class: 'btn btn-outline-secondary btn-block fas fa-user-cog ' %>
  </div>